<h2>TRE</h2>

<div *ngIf="isLoading" class="loading-placeholder">
  <p>Carregando dados do Notion...</p>
</div>

<div *ngIf="!isLoading && notionData.length > 0" class="table-container">
  <table>
    <thead>
      <tr>
        <th>Mat</th>
        <th>Eleição</th>
        <th>Data Folga</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of notionData">
        <!-- Coluna 'Mat', tipo Título -->
        <td>{{ item.properties['Mat']?.title?.[0]?.plain_text || 'N/A' }}</td>
        
        <!-- Coluna 'Eleicao', tratando como tipo 'multi_select'. -->
        <td [ngClass]="{'disponivel': !item.properties['Eleicao']?.multi_select?.[0]?.name}">{{ item.properties['Eleicao']?.multi_select?.[0]?.name | abbreviateYear }}</td>
        
        <!-- Coluna 'Data Folga', tipo Data -->
        <td [ngClass]="{'disponivel': !item.properties['Data Folga']?.date?.start}">{{ (item.properties['Data Folga']?.date?.start | date:'dd/MM/yy') || 'Disponível' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!isLoading && notionData.length === 0">
  <p>Você não tem TREs</p>
</div>
