<div class="ci-form-container">

  <p>NOVA CI</p>
  <form [formGroup]="ciForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="matricula">Matrícula:</label>
      <input id="matricula" type="text" formControlName="matricula">
    </div>
    <div class="form-group">
      <label for="de">De:</label>
      <input id="de" type="text" formControlName="de">
    </div>

    <div class="form-group">
      <label for="destinatario_matricula">Para:</label>
      <select id="destinatario_matricula" formControlName="destinatario_matricula" class="form-select">
        <option value="" disabled>Selecione um destinatário</option>
        <option *ngFor="let funcionario of funcionarios" [value]="funcionario.matricula">
          {{ funcionario.funcionario }}
        </option>
      </select>
      <div *ngIf="ciForm.get('destinatario_matricula')?.invalid && (ciForm.get('destinatario_matricula')?.dirty || ciForm.get('destinatario_matricula')?.touched)" class="error-message">
        <small *ngIf="ciForm.get('destinatario_matricula')?.errors?.['required']">O destinatário é obrigatório.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="comunicacao">Comunicação:</label>
      <textarea id="comunicacao" formControlName="comunicacao" rows="10" placeholder="Digite sua mensagem aqui..."></textarea>
      <div *ngIf="ciForm.get('comunicacao')?.invalid && (ciForm.get('comunicacao')?.dirty || ciForm.get('comunicacao')?.touched)" class="error-message">
        <small *ngIf="ciForm.get('comunicacao')?.errors?.['required']">A comunicação é obrigatória.</small>
      </div>
    </div>

    <div class="button-group">
      <button type="submit" [disabled]="ciForm.invalid">Salvar Comunicação</button>
      <button class="btn-voltar" *ngIf="matricula" [routerLink]="['/ci-listar', matricula]">Cancelar</button>
      <button class="btn-sair" *ngIf="matricula" [routerLink]="['/painel', matricula]">Sair</button>
    </div>
  </form>
</div>
