<div class="ci-list-container">
  <div class="header">
    <p>LISTA DE CI'S - APURAÇÃO</p>
    <div class="button-group">
      <a class="btn-voltar" (click)="logout()">Sair</a>
    </div>
  </div>

  <div *ngIf="!isLoading; else loading">
    <div *ngIf="cis.length > 0; else noCis" class="table-container">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>De</th>
            <th>Para</th>
            <th>Comunicação</th>
            <th>Aprovação</th>
                        <th>Lançamento</th>
            <th>Aprovação Gerente</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ci of cis">
            <td>
              <ng-container *ngIf="ci.data.getTime; else rawData">
                {{ ci.data | date:'dd/MM/yy' }}
              </ng-container>
              <ng-template #rawData>
                {{ ci.data }}
              </ng-template>
            </td>
            <td>{{ ci.de }}</td>
            <td>{{ ci.para }}</td>
            <td>{{ ci.comunicacao | slice:0:50 }}...</td>

            <td class="status-cell">
              <span [ngClass]="ci.aprovacaoStatus || 'pendente'">
                {{ (ci.aprovacaoStatus || 'pendente') | statusFormat }}
              </span>
            </td>
                        <td class="status-cell">
              <span [ngClass]="ci.lancamentoStatus || 'nao_lancado'">
                {{ (ci.lancamentoStatus || 'nao_lancado') | statusFormat }}
              </span>
            </td>
            <td class="status-cell">
              <span [ngClass]="ci.aprovacao_gerente || 'pendente'">
                {{ (ci.aprovacao_gerente || 'pendente') | statusFormat }}
              </span>
            </td>
            <td class="actions-cell">
              <div class="action-icons-wrapper">
                                                                <a [routerLink]="['/ci-visualizar-apuracao', ci.id]" [queryParams]="{ origem: 'apuracao' }">
                  <i class="material-icons icon-view" title="Visualizar">visibility</i>
                </a>
                <i class="material-icons icon-delete" (click)="excluirCi(ci.id)" title="Excluir">delete</i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-controls" *ngIf="cis.length > 0">
      <button (click)="previousPage()" [disabled]="pageNumber === 1 || isLoading" class="btn btn-secondary">Anterior</button>
      <span>Página {{ pageNumber }}</span>
      <button (click)="nextPage()" [disabled]="isLastPage || isLoading" class="btn btn-secondary">Próximo</button>
    </div>

    <ng-template #noCis>
      <p class="message">Nenhuma CI para apuração encontrada.</p>
    </ng-template>
  </div>

  <ng-template #loading>
    <p class="message">Carregando CI's para apuração...</p>
  </ng-template>
</div>

<app-confirmacao-exclusao-modal 
  *ngIf="mostrarModalExclusao" 
  (decisao)="onDecisaoModal($event)">
</app-confirmacao-exclusao-modal>
