<app-confirmacao-impressao-modal
  *ngIf="mostrarModal"
  (decisao)="processarEscolhaDeImpressao($event)">
</app-confirmacao-impressao-modal>

<app-confirmacao-exclusao-modal
  *ngIf="mostrarModalExclusao"
  (decisao)="processarDecisaoExclusao($event)">
</app-confirmacao-exclusao-modal>

<div class="ci-list-container">
  <div class="header">
    <p>LISTA DE CI'S MAT: {{ matricula }}</p>
    <div class="button-group">
      <a class="btn-voltar" [routerLink]="['/painel', matricula]">Painel</a>
      <a class="new-ci-button" [routerLink]="['/ci-nova', matricula]">Nova CI</a>
    </div>
  </div>

  <div *ngIf="!isLoading; else loading">
    <div *ngIf="cis.length > 0; else noCis">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>De</th>
              <th>Para</th>
              <th>Comunicação</th>
              <th>Aprovação</th>
                            <th>Lançamento</th>
              <th>Aprovação Gerente</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ci of cis">
              <td>
                <ng-container *ngIf="ci.data.getTime; else rawData">
                  {{ ci.data | date:'dd/MM/yy' }}
                </ng-container>
                <ng-template #rawData>
                  {{ ci.data }}
                </ng-template>
              </td>
              <td>{{ ci.de }}</td>
              <td>{{ ci.para }}</td>
              <td>{{ ci.comunicacao | slice:0:50 }}...</td>
              <td class="status-cell">
                <span [ngClass]="ci.aprovacaoStatus || 'pendente'">
                  {{ (ci.aprovacaoStatus || 'pendente') | statusFormat }}
                </span>
              </td>
                            <td class="status-cell">
                <span [ngClass]="ci.lancamentoStatus || 'pendente'">
                  {{ (ci.lancamentoStatus || 'pendente') === 'pendente' ? 'Pendente' : 'Lançado' }}
                </span>
              </td>
              <td class="status-cell">
                <span [ngClass]="ci.aprovacao_gerente || 'pendente'">
                  {{ (ci.aprovacao_gerente || 'pendente') | statusFormat }}
                </span>
              </td>
              <td class="actions-cell">
                <div class="action-icons-wrapper">
                  <i class="material-icons icon-view" (click)="abrirModalImpressao(ci.id)" title="Visualizar">visibility</i>
                  <i class="material-icons icon-edit" (click)="editarCi(ci.id)" title="Editar">edit</i>
                                    <i class="material-icons icon-delete"
                     [class.disabled]="ci.aprovacaoStatus === 'aprovado' && ci.lancamentoStatus === 'lancado'"
                     (click)="!(ci.aprovacaoStatus === 'aprovado' && ci.lancamentoStatus === 'lancado') && abrirModalExclusao(ci.id)"
                     [title]="(ci.aprovacaoStatus === 'aprovado' && ci.lancamentoStatus === 'lancado') ? 'Ação não permitida' : 'Excluir'">delete</i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="pageNumber === 1" class="btn btn-secondary">Anterior</button>
        <span>Página {{ pageNumber }}</span>
        <button (click)="nextPage()" [disabled]="isLastPage" class="btn btn-secondary">Próximo</button>
      </div>
    </div>

    <ng-template #noCis>
      <p class="message">Nenhuma CI encontrada.</p>
    </ng-template>
  </div>

  <!-- Template for loading state -->
  <ng-template #loading>
    <p class="message">Carregando CI's...</p>
  </ng-template>
</div>

