@import '../confirmacao-acao-modal/confirmacao-acao-modal.component.scss';

.modal-icon.print {
  background: var(--cyan-500);
  background: linear-gradient(135deg, rgba(6, 182, 212, 0.15) 0%, rgba(8, 145, 178, 0.15) 100%);

  svg {
    color: var(--cyan-600);
  }
}
