<div class="login-card">
    <h2>Consulta de Folgas DRH</h2>

    <!-- Formulário direto de matrícula, sem login com Google -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="matricula">Matrícula</label>
        <input id="matricula" formControlName="matricula" maxlength="10" autocomplete="off" type="tel" inputmode="numeric" placeholder="Só os números"/>
        <div class="error-message" *ngIf="loginForm.get('matricula')?.invalid && (loginForm.get('matricula')?.dirty || loginForm.get('matricula')?.touched)">
          <small *ngIf="loginForm.get('matricula')?.errors?.['required']">A matrícula é obrigatória.</small>
          <small *ngIf="loginForm.get('matricula')?.errors?.['pattern']">A matrícula deve conter apenas números.</small>
        </div>
      </div>  

      <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" class="form-control" formControlName="senha" placeholder="Só os números, mínimo 6 caracteres" inputmode="numeric">
      </div>

      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>

      <button type="submit" class="btn-login" [disabled]="loginForm.invalid">Entrar</button>

      <div class="links-container">
        <a routerLink="/alterar-senha" class="link-alterar-senha">Alterar senha</a>
      </div>
    </form>

  </div>
