<div class="login-card">
    <h2>Consulta de Folgas DRH</h2>
    <form [formGroup]="loginForm">
      <div class="input-group">
        <label for="matricula">Matrícula</label>
        <input id="matricula" formControlName="matricula" maxlength="10" autocomplete="off" type="tel" inputmode="numeric" placeholder="Só os números"/>
        <div class="error-message" *ngIf="loginForm.get('matricula')?.invalid && (loginForm.get('matricula')?.dirty || loginForm.get('matricula')?.touched)">
          <small *ngIf="loginForm.get('matricula')?.errors?.['required']">A matrícula é obrigatória.</small>
          <small *ngIf="loginForm.get('matricula')?.errors?.['pattern']">A matrícula deve conter apenas números.</small>
        </div>
      </div>

      <div class="input-group">
        <label for="senha">Senha</label>
        <input type="password" id="senha" class="form-control" formControlName="senha" placeholder="Mínimo 6 caracteres" inputmode="numeric">
      </div>

      <div class="error-message">
        {{ loginError }}
      </div>
      <div class="btn-group-vertical w-100" role="group">
        <button type="button" class="btn btn-primary mb-2" (click)="loginAndNavigate('ci-painel')">Consulta</button>
        <button type="button" class="btn btn-primary mb-2" (click)="loginAndNavigate('ci-listar-aprovacao')">Aprovação</button>
        <button type="button" class="btn btn-primary mb-2" (click)="loginAndNavigate('ci-listar-lancamento')">Lançamento</button>
        <button type="button" class="btn btn-primary" (click)="loginAndNavigate('ci-listar-apuracao')">Apuração</button>
      </div>
      <div class="links-container">
        <a routerLink="/alterar-senha" class="link-alterar-senha">Alterar senha</a>
      </div>
    </form>

 </div>
