<div class="painel-container">
  <div class="painel-header">
    <h1>Painel de Consultas</h1>
    <div>
      <a [routerLink]="['/ci-listar', matricula]" class="btn-header btn-ci">Fazer CI</a>
      <button (click)="logout()" class="btn-header btn-logout">Sair</button>
    </div>
  </div>
  <section class="notion-data">

    <div>
      <app-drh [matricula]="matricula"></app-drh>
      <app-pf [matricula]="matricula"></app-pf>
      <app-tre [matricula]="matricula"></app-tre>
    </div>
  </section>
</div>