<div class="painel-container">
  <header class="painel-header">
    <p>PAINEL DE CONSULTAS</p>
    <div class="header-buttons">
      <button class="btn btn-ci" (click)="navegarParaCiListar()">CI'S</button>
      <button class="btn btn-escala" (click)="navegarParaEscalaListar()">Escala</button>
      <button class="btn btn-funcionarios" *ngIf="perfilUsuario === 'adm'" (click)="navegarParaFuncionarioListar()">Usuário</button>
      <button class="btn btn-lancamento" *ngIf="perfilUsuario === 'adm'" (click)="navegarParaCiListarLancamento()">Lançamento</button>
      <button class="btn btn-logout" (click)="logout()">Sair</button>
    </div>
  </header>

  <main class="components-grid">
    <div class="component-wrapper">
      <app-drh [matricula]="matricula"></app-drh>
    </div>
    <div class="component-wrapper">
      <app-pf [matricula]="matricula"></app-pf>
    </div>
    <div class="component-wrapper">
      <app-tre [matricula]="matricula"></app-tre>
    </div>
  </main>
</div>