<div class="ci-list-container">
    <div class="header">
      <p>LISTA DE CI'S - LANÇAMENTO</p>
      <div class="button-group">
        <a class="btn-escala" *ngIf="matriculaLogada" [routerLink]="['/escala-listar']">Escala</a>
        <a class="btn-usuario" *ngIf="perfilUsuario === 'adm'" [routerLink]="['/funcionario-listar', matriculaLogada]">Usuário</a>
        <a class="btn-voltar" (click)="logout()">Sair</a>
      </div>
    </div>
  
    <div *ngIf="!isLoading; else loading">
      <div *ngIf="cis.length > 0; else noCis" class="table-container">
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>De</th>
              <th>Para</th>
              <th>Comunicação</th>
              <th>Coord./Superv.</th>
              <th>Gerente</th>
              <th>Controle</th>
              <th>Impresso</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ci of cis">
              <td>
                <ng-container *ngIf="ci.data.getTime; else rawData">
                  {{ ci.data | date:'dd/MM/yy' }}
                </ng-container>
                <ng-template #rawData>
                  {{ ci.data }}
                </ng-template>
              </td>
              <td>{{ ci.de }}</td>
              <td>
                <ng-container *ngIf="ci.destinatario_matricula; else naoInformadoPara">
                  {{ ci.para }}
                </ng-container>
                <ng-template #naoInformadoPara>
                  Péricles Simbera
                </ng-template>
              </td>
              <td>{{ ci.comunicacao | slice:0:50 }}...</td>

              <td class="status-cell">
                <ng-container *ngIf="ci.destinatario_matricula; else naoSeAplicaAprovacao">
                  <span [ngClass]="ci.aprovacaoStatus || 'pendente'">
                    {{ (ci.aprovacaoStatus === 'aprovado') ? 'Aprovado' : (ci.aprovacaoStatus === 'nao_aprovado') ? 'Não Aprovado' : 'Pendente' }}
                  </span>
                </ng-container>
                <ng-template #naoSeAplicaAprovacao>
                  <span class="nao-se-aplica">
                    Não se aplica
                  </span>
                </ng-template>
              </td>

              <td class="status-cell">
                <span [ngClass]="ci.aprovacao_gerente || 'pendente'">
                  {{ (ci.aprovacao_gerente || 'pendente') | statusFormat }}
                </span>
              </td>
              <td class="status-cell">
                <span [ngClass]="ci.lancamentoStatus || 'pendente'">
                  {{ (ci.lancamentoStatus || 'pendente') | statusFormat }}
                </span>
              </td>
              <td class="text-center">
                <div class="form-check d-inline-block">
                  <input class="form-check-input" 
                         type="checkbox" 
                         [checked]="ci.impressa" 
                         (change)="onImpressaChange(ci, $event)" 
                         [id]="'impressa-' + ci.id">
                </div>
              </td>
              <td class="actions-cell">
                <div class="action-icons-wrapper">
                  <a [routerLink]="['/ci-visualizar-apuracao-lancamento', ci.id]" [queryParams]="{ origem: 'lancamento' }">
                    <i class="material-icons icon-view" title="Visualizar">visibility</i>
                  </a>            
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="pagination-controls" *ngIf="cis.length > 0">
        <button (click)="previousPage()" [disabled]="pageNumber === 1 || isLoading" class="btn btn-secondary">Anterior</button>
        <span>Página {{ pageNumber }}</span>
        <button (click)="nextPage()" [disabled]="isLastPage || isLoading" class="btn btn-secondary">Próximo</button>
      </div>

      <ng-template #noCis>
        <p class="message">Nenhuma CI encontrada.</p>
      </ng-template>
    </div>

    <ng-template #loading>
      <p class="message">Carregando CI's...</p>
    </ng-template>
  </div>
  