<div class="ci-list-container">
    <div class="header">
      <p>LISTA DE CI'S - LANÇAMENTO</p>
      <div class="button-group">
        <button class="btn btn-danger" (click)="logout()">Sair</button>
      </div>
    </div>
  
    <div *ngIf="!isLoading; else loading">
      <div *ngIf="cis.length > 0; else noCis" class="table-container">
        <table>
          <thead>
            <tr>
              <th>Data</th>
              <th>De</th>
              <th>Para</th>
              <th>Comunicação</th>

              <th>Aprovação</th>
              <th>Lançamento</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ci of cis">
              <td>
                <ng-container *ngIf="ci.data.getTime; else rawData">
                  {{ ci.data | date:'dd/MM/yy' }}
                </ng-container>
                <ng-template #rawData>
                  {{ ci.data }}
                </ng-template>
              </td>
              <td>{{ ci.de }}</td>
              <td>{{ ci.para }}</td>
              <td>{{ ci.comunicacao | slice:0:50 }}...</td>

              <td class="status-cell">
                <span [ngClass]="ci.aprovacaoStatus || 'pendente'">
                  {{ (ci.aprovacaoStatus === 'aprovado') ? 'Aprovado' : (ci.aprovacaoStatus === 'reprovado') ? 'Reprovado' : 'Pendente' }}
                </span>
              </td>

              <td class="status-cell">
                <span [ngClass]="ci.lancamentoStatus || 'nao_lancado'">
                  {{ (ci.lancamentoStatus || 'nao_lancado') === 'nao_lancado' ? 'Não Lançado' : 'Lançado' }}
                </span>
              </td>
              <td class="actions-cell">
                <div class="action-icons-wrapper">
                                                      <a [routerLink]="['/ci-visualizar-apuracao-lancamento', ci.id]" [queryParams]="{ origem: 'lancamento' }">
                    <i class="material-icons icon-view" title="Visualizar">visibility</i>
                  </a>
                  <i class="material-icons icon-email btn-gerar-pdf-mobile" (click)="gerarPdfEEnviar(ci.id)" title="Gerar PDF e Enviar">email</i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="pagination-controls">
          <button (click)="previousPage()" [disabled]="pageNumber === 1" class="btn btn-secondary">Anterior</button>
          <span>Página {{ pageNumber }}</span>
          <button (click)="nextPage()" [disabled]="isLastPage" class="btn btn-secondary">Próximo</button>
        </div>
      </div>

      <ng-template #noCis>
        <p class="message">Nenhuma CI encontrada.</p>
      </ng-template>
    </div>

    <ng-template #loading>
      <p class="message">Carregando CI's...</p>
    </ng-template>
  </div>
  