<div class="ci-form-container">

  <p>NOVA CI</p>
  <form [formGroup]="ciForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="matricula">Matrícula:</label>
      <input id="matricula" type="text" formControlName="matricula" class="form-control">
    </div>
    <div class="form-group">
      <label for="de">De:</label>
      <input id="de" type="text" formControlName="de" class="form-control">
    </div>

    <div class="form-group">
      <label for="destinatario_matricula">Para:</label>
      <select id="destinatario_matricula" formControlName="destinatario_matricula" class="form-select">
        <option value="">Selecione um destinatário (Opcional)</option>
        <option *ngFor="let funcionario of funcionarios" [value]="funcionario.matricula">
          {{ funcionario.funcionario }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="destinatario_matricula-cc">Com Cópia para:</label>
      <input id="destinatario_matricula-cc" type="text" formControlName="destinatario_matricula-cc" class="form-control">
    </div>

    <div class="form-group">
      <div class="label-with-button">
        <label for="comunicacao">Comunicação:</label>
        <button *ngIf="showPasteButton" type="button" (click)="pasteFromClipboard()" class="btn-colar-icon" title="Colar da área de transferência">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
          </svg>
          Colar
        </button>
      </div>
      <textarea id="comunicacao" formControlName="comunicacao" rows="10" placeholder="Digite sua mensagem aqui..." class="form-control"></textarea>

      <div *ngIf="ciForm.get('comunicacao')?.invalid && (ciForm.get('comunicacao')?.dirty || ciForm.get('comunicacao')?.touched)" class="error-message">
        <small *ngIf="ciForm.get('comunicacao')?.errors?.['required']">A comunicação é obrigatória.</small>
      </div>
    </div>

    <div class="button-group">
      <button type="submit" [disabled]="ciForm.invalid">Salvar</button>
      <button class="btn-voltar" *ngIf="matricula" [routerLink]="['/ci-listar', matricula]">Cancelar</button>
      <button class="btn-sair" *ngIf="matricula" [routerLink]="['/painel', matricula]">Sair</button>
    </div>
  </form>
</div>
